h1 {
  color: blue;
  text-align: center;
  background-color: green;
}
h2 {
  color:green;
  font-style: italic;
  text-align: center;
}
body{
  background-color: skyblue;
}
p {
  color: gray;
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
