h1 {
  color: blue;
  text-align: center;
  background-color: black;
}
h2 {
  color:green;
  font-style: italic;
  text-align: center;
}
body{
  background-color: black;
}
p {
  color: gray;
  font-family: sans-serif;
}
ul {
  color: white;
  line-height: 40px;
}
ol {
  color: white;
  line-height: 40px;
}
.important {
  background-color: skyblue;
}
.cat-climate {
  background-color: purple;
}
img {
  float: left;
}
.sidebar {
  width: 50%
  float: right;
}
.test-box {
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
  background-color: yellow;
}
